a {
	cursor: pointer;
}

a.disabled {
	pointer-events: none;
	color: #888888;
	opacity: 0.5;
}

button {
	margin-right: 1rem;
}

.screen-actions {
	position: absolute;
	top: 0;
	right: 8px;
	z-index: 1;
}
